<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubik's Cube Color Input</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div class="palette">
        <div class="color" style="background-color: white" onclick="selectColor('w')"></div>
        <div class="color" style="background-color: yellow" onclick="selectColor('y')"></div>
        <div class="color" style="background-color: red" onclick="selectColor('r')"></div>
        <div class="color" style="background-color: orange" onclick="selectColor('o')"></div>
        <div class="color" style="background-color: blue" onclick="selectColor('b')"></div>
        <div class="color" style="background-color: green" onclick="selectColor('g')"></div>
    </div>

    <div class="sides">

        <div class="cube" id="cube"></div>  
    </div>
    <script src="/script.js">
    </script>
</body>
</html>
